/* Site Colors:
*/

body {
  margin: 0;
  width: 100%;
  font: 13px/15px Verdana, Arial, Helvetica, sans-serif;
  background: #FFFFFF;
}

header {
  width: 980px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  color: #FFFFFF;
}

header h1 {
  margin: 50px 0 0 0;
  text-align: left;
}

header h2 {
  margin: -15px 0 0 0;
  text-align: right;
}

header h1 a {
  color: #000;
}

header h2 a {
  color: #000;
  font-size: medium;
}

#main {
  width: 980px;
  margin: 50px auto 0;
  padding: 0;
}

.expanding-wrapper {
  position: absolute;
  top: 400px;
  left: 0;
  width: 100%;
  min-width: 980px;
}

img#super-hero-image {
  width: 100%;
}

footer {
  clear: both;
  width: 980px;
  margin: 0 auto;
  padding: 10px;
  background-color: #FFFFFF;
}

ul#menu {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

ul#menu li {
  float: left;
  margin: 25px;
  border: 1px solid #000;
  height: 150px;
}

ul#menu li a {
  display: block;
  width: 150px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  color: #000;
}

ul#menu li:hover {
  background: #EEE;
  cursor: pointer;
}

div#page {
  margin: 60px auto;
}

div#page.narrow {
  width: 600px;
}

div#page h2 {
  line-height: 20px;
}

div#page p {
  font: 16px/20px Georgia, Times, "Times New Roman", serif;
}

img.inset {
  float: left;
  width: 150px;
  margin-right: 20px;
}

table#inventory {
  margin-top: 30px;
  width: 980px;
  border-collapse: collapse;
}

table#inventory tr th {
  background: #0B61A5;
  color: #FFF;
  text-align: left;
}

table#inventory tr td, table#inventory tr th {
  border: 1px solid #000;
  padding: 3px;
}

.error {color: #FF0000;}
